@{
    ViewBag.Title = "Acerca de mí...";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Ingeniero Civil en Computación e Informática, con más de 10 años de experiencia en construcción de sistemas en C#.NET.</p>
