@{
    ViewBag.Title = "Mis datos de contacto....";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Mi correo:</strong> <a href="mailto:calaluis@gmail.com">calaluis@gmail.com</a><br />
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/pub/luis-rodrigo-carrasco-lagos/53/127/8bb" target="_blank">(Click acá)</a>
</address>