<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<appSettings>
        <add key="MensajeGenerico" value="(Nombre del Sistema) - Problemas Técnicos." />
        <add key="MensajeGenericoDetalle" value="Comuníquese con Informática reportando esta anomalía." />
        <add key="MensajeNoFormalizado" value="(Nombre del Sistema) - Respuesta no formalizada." />
        <add key="MensajeNoFormalizadoDetalle" value="Notifique a informática que esta funcionalidad debe tener una respuesta explícita y formalizada en el flujo específico." />
        <add key="MensajeAccesoDatos" value="(Nombre del Sistema) - Acceso a Datos." />
        <add key="MensajeAccesoDatosDetalle" value="El DBMS [DBMS] no está implementado en estos momentos. Intente más tarde." />
    </appSettings></configuration>